{% extends 'schapp/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'schapp/css/main.css' %}" type="text/css">
{% block content %}
    <div class="container-fluid">
    <div class="row">
    <div class="banner-img">
    <img src="{% static 'schapp/img/school_image.jpg' %}" alt="" style="width: 100%; padding-top: 30px; height: 50%;">
        <div class="page-header">
            <h1 class="text-center text-primary"> <strong>Departments</strong></h1>
        </div>
    </div>
</div>

        <br>

        {% if dpars %}
            {% for d in dpars %}
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">

            </div>
            <div class="panel-body">
                <hr>
                <h3 class="text-primary">{{ d.name }} <small class="text-primary" style="float: right;">{{ d.hod }}</small></h3>
                <p style="line-height: 1.2em; height: 3.6em; overflow: hidden; text-overflow: ellipsis; max-width: 90%;">{{ d.desc }}</p>


                <button type="button" class="btn btn-success" style="margin: 4px;" data-toggle="modal" data-target="#Modal-{{ c.id }}">More</button>

                <!-- Modal -->
                    <div class="modal fade" id="Modal-{{ c.id }}" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="padding:5px 5px;">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="text-center" style="color: darkslategrey;"><b>{{ d.name }}</b></h4>


                                </div>
                                <div class="modal-body" style="padding:40px 5px;">
                                    <p>{{ d.desc }}</p>
                                </div>

                            </div>

                        </div>
                    </div>
            <!--End Modal-->
            </div>
        </div>
    </div>
            {% endfor %}
    {% endif %}


    </div>


    {% include 'schapp/footer.html' %}

{% endblock %}