{% extends 'register/base.html' %}
{% load static %}

{% block content %}
<!-- About Section -->
 <div class="row"style="border-left: 1px solid grey;" >
        <div class="page-header">
            <h3 class="text-center text-primary text-head"><b>Profile</b></h3>
        </div>


        {% for profile in profiles %}
        <div class="col-md-3">
            <img src="{{ profile.image.url }}" class="img img-responsive img img-circle" alt="" style="height: 200px; width: 200px;">
            <div class="profile-text">
                <hr>
                <h4 class="text-primary">{{ profile.name }}</h4>
                <h5 class="text-primary">{{ profile.position }}</h5>
                <br>
                <p>{{ profile.details }}</p>
                <hr>
            </div>
        </div>

        {% endfor %}

    </div>

<!-- result form -->








{% endblock %}